<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-text pull-left margin-left">
            <a href="#!/posts" class="cl-text-black">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand cl-text-bold">
            New Post
        </a>
        <div class="navbar-text pull-right margin-right">
            <a ng-click="model.createPost(model.postName, model.postDesc)" class="cl-text-black">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

    <label for="postName">Post Name</label>
    <input type="text" class="form-control" placeholder="Post Name" id="postName"
           ng-model="model.postName"
           required>
    <label for="postDesc">Post Content</label>
    <textarea rows="5" class="form-control" placeholder="Post Content" id="postDesc" ng-model="model.postDesc"
              required></textarea>
    <p class="help-block text-danger"></p>
    <!--<input type="text" class="form-control" placeholder="Post Content" id="postDesc"-->
           <!--ng-model="model.postDesc"-->
           <!--required>-->

</div>

<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fuild">
        <div class="navbar-text pull-right cl-icon-padding">
            <a href="#!/profile" class="cl-text-blue">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>