<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="model.userId">
                    <a href="#!/posts">My HomePage</a>
                </li>
                <li>
                    <a href="#!/follows">All Follows</a>
                </li>
                <li>
                    <a href="#!/contacts">All Comments</a>
                </li>
                <li>
                    <a ng-if="model.userId" href="#!/user/{{model.uid}}/contacts/new">Contact</a>
                </li>
                <li>
                    <a ng-click="model.logout()">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/../../img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Notes Share</h1>
                    <hr class="small">
                    <span ng-if="model.userId === null || model.userId === undefined"
                          class="subheading">My HomePage</span>
                    <span ng-if="model.userId"
                          class="subheading">{{model.username}}</span>
                    <span ng-if="model.userId && model.currentUser.follows.indexOf(model.userId) === -1"
                          ng-click="model.addFollow()"
                          class="glyphicon glyphicon-plus"></span>
                    <span ng-if="model.userId && model.currentUser.follows.indexOf(model.userId) > -1"
                          ng-click="model.removeFollow()"
                          class="glyphicon glyphicon-minus"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <li ng-if="model.userId === null || model.userId === undefined" ng-repeat="post in model.posts" class="post-title">
                <a href="#!/posts/{{post._id}}">
                    {{post.name}}
                </a>
            </li>
            <li ng-if="model.userId" ng-repeat="post in model.posts" class="post-title">
                <a href="#!/user/{{model.userId}}/posts/{{post._id}}">
                    {{post.name}}
                </a>
            </li>
            <!--<hr>-->
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a ng-if="model.userId === null || model.userId === undefined" href="#!/posts/new">New Post</a>
                </li>
            </ul>
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<nav class="navbar navbar-bottom cl-blue-navbar">
    <div class="container-fuild">
        <a href="#!/profile" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>


