<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-text pull-left margin-left">
            <a href="#!/posts/{{post.pid}}" class="cl-text-black">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="navbar-brand cl-text-bold">
            Edit Post
        </a>
        <div class="navbar-text pull-right cl-icon-padding">
            <a ng-click="model.updatePost(model.post)" class="cl-text-black">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.updated" class="alert alert-success" role="alert">{{model.updated}}</div>
    <label for="postName">Post Name</label>
    <input type="text" class="form-control" id="postName" placeholder="Post Name"
           ng-model="model.post.name"
           required>
    <label for="postDesc">Page Title</label>
    <input type="text" class="form-control" placeholder="Post Content" id="postDesc"
           ng-model="model.post.description"
           required>

    <a class="btn btn-danger btn-block" ng-click="model.deletePost(model.post)">
        Delete
    </a>
</div>

<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fuild">
        <div class="navbar-text pull-right cl-icon-padding">
            <a href="#!/profile" class="cl-text-blue">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>