<div class="container-fluid">
    <h1>Search User</h1>
    <div class="input-group">
        <input ng-model="searchText" type="text" class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchUser(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
        </span>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
            <a href="#!/user/{{model.uid}}/posts">{{model.username}}</a>
        </div>
    </div>
</div>
