<div class="container-fluid">
    <h1>Users</h1>

    <ul class="list-group">
        <li ng-repeat="user in model.users" class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    {{user.username}}
                </div>
                <div class="col-xs-3">
                    {{user.firstName}}
                </div>
                <div class="col-xs-3">
                    {{user.roles}}
                </div>
                <div class="col-xs-3">

                </div>
            </div>
        </li>
    </ul>
</div>